
.flexPortfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexPortfolio__header {
  width: 100%;
  text-align: center;
}


.flexPortfolio__box {

  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
  text-decoration:none;
  color:#000;
  opacity: 0.5;
  font-size: 1.1rem;
  display:block;
  height:20rem;
  width:20rem;
  margin: 2rem;
  border-radius: 25px;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .12s linear,
              box-shadow .12s linear,
              opacity .12s ease-in-out,
              font-size .12s linear;
}

.flexPortfolio__image {
  height:20rem;
  width:20rem;
  margin: 0rem;
  border-radius: 25px;
}


.flexPortfolio__box:hover {
  color: white;
  opacity: 1;
  font-size: 1.25rem;
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.15);
  z-index: 3;
}
.flexPortfolio__text {
  position: absolute;
  top: 200px; 
  left: 0; 
  background-color: whitesmoke;
  opacity: 0.8;
  z-index: 4;
  color: white; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}
/* todo: transition width */




