/*css styles sheet */
/*proposed color scheme
34626c - darker blue
374045 - darkest blue
e27802 - burnt orange
58391c - brown
2c061f - purple
*/


.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    color: white;
    
    margin: 5% 10%;
    padding: .4rem;
}












.homeBox {
    width: 40%;
    background-color: hotpink;
    margin: 3%;
    padding: .4rem;
}





/* portfolio hoveer https://www.littlesnippets.net/snip1198 */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.snip1198 {
font-family: 'Raleway', Arial, sans-serif;
text-align: center;
font-weight: 500;
letter-spacing: 1px;
}
.snip1198 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
.snip1198 li {
display: inline-block;
list-style: outside none none;
margin: 0.4em 0.8em;
padding: 0;
}
.snip1198 a {
padding: 0 0.7em;
color: rgba(255, 255, 255, 0.5);
position: relative;
text-decoration: none;
display: inline-block;
}
.snip1198 a:before {
position: absolute;
content: '';
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
opacity: 0;
left: 15%;
right: 15%;
top: 0;
bottom: 0;
border-left: 3px solid #27ae60;
border-right: 3px solid #27ae60;
}
.snip1198 a:hover,
.snip1198 .current a {
color: #ffffff;
}
.snip1198 a:hover:before,
.snip1198 .current a:before {
opacity: 1;
left: 0;
right: 0;
}














body {
    font-family: 'Rosario', sans-serif;
    padding-top: 56px;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben'; 
}

p {
    text-align: left;
}

.colorful {
    background: rgb(58,144,163);
    background: linear-gradient(90deg, rgba(58,144,163,1) 0%, rgba(55,64,69,1) 59%);
}

/*|| Projects */

.projects-jumbotron {
    background: url(../images/projects.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.projects-jumbotron-text {
    color:white;
    padding-top: 20px;
}



