/*css styles sheet */
/*proposed color scheme
34626c - darker blue
374045 - darkest blue
e27802 - burnt orange
58391c - brown
2c061f - purple
*/


.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex--break {
    flex-basis: 100%;
    height: 0;
}

.flex__header {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    color: white;
    font-size: 1.2rem;
    margin: 5% 10%;
    padding: .4rem;
}



.homeBox {
    width: 25rem;
    background-color: rgba(20, 135, 126, 0.5);
    margin: 5%;
    border-radius: 1rem;
    padding: 1.4rem;
    font-size: 1.3rem;
    border: 1px solid rgba(236, 255, 254, 0.2);
}






/* portfolio hoveer https://www.littlesnippets.net/snip1198 */

.snip1198 {
text-align: center;
font-weight: 500;
letter-spacing: 1px;
}
.snip1198 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
.snip1198 li {
display: inline-block;
list-style: outside none none;
margin: 0.4em 0.8em;
padding: 0;
}
.snip1198 a {
padding: 0 0.7em;
color: rgba(255, 255, 255, 0.5);
position: relative;
text-decoration: none;
display: inline-block;
}
.snip1198 a:before {
position: absolute;
content: '';
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
opacity: 0;
left: 15%;
right: 15%;
top: 0;
bottom: 0;
border-left: 3px solid #27ae60;
border-right: 3px solid #27ae60;
}
.snip1198 a:hover,
.snip1198 .current a {
color: #ffffff;
}
.snip1198 a:hover:before,
.snip1198 .current a:before {
opacity: 1;
left: 0;
right: 0;
}














body {
    font-family: 'Rosario', sans-serif;

}

p {
    text-align: center;
}

.colorful {
    background: linear-gradient(90deg, rgb(116, 153, 162) 0%, rgb(55, 64, 69) 59%);
}

/*|| Projects */

.projects-jumbotron {
    background: url(../images/projects.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.home__button {
    background-color: rgba(65, 66, 65, 0.801);
    color: rgba(20, 197, 177, .7);
    border: 0;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    display: block;
    margin-left: auto;  
    margin-right: auto;
    border: .3rem solid;
    transition: background-color .15s,
                color .15s;
}

.home__button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(20, 130, 177, .7);
}


@media only screen and (max-width: 600px) {
    .homeBox {
      width: 80%
    }
    .nav {

        width: 90%;
        padding: 5%;
    }
    .snip1198 a {
        padding: 0px 0.2rem;
    }
  }