
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Greg Plechaty - {{ title }}</title>
    <meta name="my site" content="portfolio site">
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/portfolio.css" />
    <link rel="stylesheet" href="./css/portfolioImageHover.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rosario&display=swap" rel="stylesheet"> 
    
</head>
<body class="colorful">

<div>
  <!-- Navigation -->

    
<ul class="nav snip1198">
  {% if title == 'Portfolio' %}
  <li><a href="./home.html">Home</a></li>
  {% else %}
  <li><a href="./portfolio.html">Portfolio</a></li>
  {% endif %}
  <li><a href="https://github.com/gregplechaty" target="_blank" rel="noopener noreferrer">GitHub</a></li>
  <li><a href="https://www.linkedin.com/in/gplechaty/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
</ul>




  {{ content }}


</div>





         

  <!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Greg Plechaty, {{ get_year }}</p>
  </div>
  <!-- /.container -->
</footer>


</body>
</html>

