<!--other blog posts-->
<div class="container thoughts-small">
    
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-12">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <a href={{ blog_post_link }}><h2>{{ blog_post_title }}</h2></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <p>{{ blog_post_date }}</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5>{{ blog_post_subtitle }}</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12">
        <img src={{ blog_post_image }} class="img-fluid thoughts-image-small" alt="pile of legos">
      </div>              
    </div>
</div>